<br>
<div class="w-75 p-3 container" style="background-color: #eee;">
  <label for="customRange3">Count for users: {{usersCount}}</label>
  <input value="{{this.usersCount}}" type="range" class="custom-range" min="1" max="50" step="1" id="usersRange"
    (change)="setRangeVal()">
</div>


<section id="team" class="pb-5">
  <div class="container">
    <div class="card-group">

      <div class="col-xs-12 col-sm-6 col-md-3" id="este2" *ngFor="let user of users; index as i"
        style="margin-top: 5%;">

        <div class="card">
          <div class="card-body text-center" style="background-color: rgba(134, 168, 184, 0.479); min-height: 350px;">
              <div class="float-left">
                  <span class="badge badge-light float">{{i + 1}}</span>
                </div>
                <p><img class="img-fluid img-circle" src="{{ user.picture.large }}" alt="card image">
                </p>
                <h4 class="card-title">{{ user.name.first + " " +user.name.last | titlecase }}</h4>
                <p class="card-text">My email is: <br>{{ user.email }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="!(users.length == usersCount)" class="col-xs-12 col-sm-6 col-md-3" style="min-width: 20%; margin-top: 5%">
        <div class="card">
          <div class="card-body text-center" style="background-color: rgba(134, 168, 184, 0.479); min-height: 350px;">
            <div class="spinner-grow loader" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>